* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #111827;
  --accent: #8f49ff;
  --dark-grey: #6b7280;
  --light-grey: #e5e7eb;
  --off-white: #d1d5db;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  text-align: center;
  height: 100vh;
}

/*  TYPOGRAPHY  */
h1,
h2,
p,
a {
  margin: 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

p {
  font-size: 0.875rem;
}

a.background,
p.background {
  font-size: 1rem;
  margin: 1em;
}

a.background {
  color: var(--dark-grey);
}

p.movie-info {
  font-size: 0.75rem;
}

/* HEADER  */
header {
  position: relative;
  background-image: url('./assets/scarface-banner.jpg');
  background-size: cover;
  background-position: center;
  color: var(--white);
  box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  margin-bottom: 3em;
}

.wrapper {
  width: 100%;
  padding: 0 2.5em;
  max-width: 650px;
  margin: 0 auto;
}

.header-top {
  padding: 5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
}

a {
  text-decoration: none;
}

.movie-search {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: flex;
  justify-content: center;
  width: calc(100% - 4em); /* Adjust for the padding */
  max-width: 650px;
}

.search-input {
  flex-grow: 1;
  padding: 0.65em;
  border-radius: 0.7em 0 0 0.7em;
  border: 1px solid var(--dark-grey);
}

.search-input:focus {
  outline: none;
}

.search-btn {
  border-radius: 0 0.7em 0.7em 0;
  color: var(--dark-grey);
  padding: 0.65em 1.5em;
}

.search-input,
.search-btn {
  font-size: 0.875rem;
  border: 1px solid var(--light-grey);
}

.background {
  margin-top: 2em;
  color: var(--off-white);
  font-size: 3rem;
  font-weight: 700;
}

/* MAIN */
.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.movie-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1em 0;
  border-bottom: 1px solid var(--light-grey);
}
.movie {
  padding: 1em 0;
}

.poster {
  width: 100%;
  max-width: 200px;
  object-position: center;
  align-self: center;
}

.movie-header,
.movie-info {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  align-items: center;
}

.movie-info {
  margin: 1em 0 0.75em 0;
  gap: 1.25em;
}

.fa-star {
  color: #fec654;
}

.plot {
  color: var(--dark-grey);
  line-height: 1.43;
  text-align: left;
}

/* BUTTON */
.fa-circle-plus,
.fa-circle-minus,
.fa-circle-check {
  margin-right: 0.3em;
}

.add-btn,
.remove-btn {
  border: none;
  background-color: var(--white);
  cursor: pointer;
}

.add-btn:hover {
  color: var(--accent);
}
.remove-btn:hover {
  color: red;
}

/* BREAKPOINTS */

@media (min-width: 500px) {
  .movie-wrapper {
    flex-direction: row;
    padding: 2em 0;
  }

  .poster {
    width: 30%;
    max-width: 150px;
  }

  .movie {
    padding: 0 0 0 1.75em;
    flex: 1;
  }
}

@media (min-width: 728px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 1.125rem;
  }

  p {
    font-size: 0.875rem;
  }

  .wrapper {
    width: 80%;
    max-width: 650px;
    padding-left: 0;
    padding-right: 0;
  }

  .header-top {
    padding: 7em 0;
  }

  .movie-search {
    width: 80%;
    max-width: 650px;
  }

  .background {
    font-size: 4.5rem;
  }
}
